.header {
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(31, 58, 147, 0.1);
  font-family: 'Noticia-Text', sans-serif;
}

.title {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

